$foreground: #7c6f64;
$background: #282828;
$link-normal: #83a598;
$link-hover: #fabd2f;

$category-width: 142px;
$category-height: 160px;
$category-margin-horizontal: 8px;
$category-margin-vertical: 16px;
$total-width: 6 * ($category-width + 2 * $category-margin-horizontal) + 30;

* {
  margin: 0;
  padding: 0;
}

html, body {
  color: $foreground;
  background: $background;
  font-family: 'tewi',monospace;
  font-size: 8pt;
  width: 100%;
}

.bookmarks {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($category-height / 2);
  margin-left: -($total-width / 2);
  width: $total-width;
  height: $category-height;
  text-align: center;
}

.breaker {
  float: left;
  overflow: hidden;
}

.list {
  display: inline-block;
  width: $category-width;
  margin: $category-margin-vertical $category-margin-horizontal;
  vertical-align: text-top;
}

.list p {
  color: $foreground;
  text-align: left;
  border-bottom: 1px solid $foreground;
}

.list ul {
  list-style-type: none;
}

.list a {
  color: $link-normal;
  text-decoration: none;
  display: block;
  padding: 3px;
}

.list a:hover {
  color: $link-hover;
}

@media (max-width: 1000px) {
  .bookmarks {
    margin-top: -$category-height;
    margin-left: -($total-width / 4);
    width: $total-width / 2;
    height: 2 * $category-height;
  }

  .breaker {
    clear: both;
  }
}
